<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cup.wang.airport.mapper.PhysicalQuantityTypeMapper">
  <resultMap id="BaseResultMap" type="com.cup.wang.airport.model.unit.PhysicalQuantityType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="t_physical_quantity" jdbcType="VARCHAR" property="tPhysicalQuantity" />
    <result column="t_name" jdbcType="VARCHAR" property="tName" />
    <result column="t_type" jdbcType="INTEGER" property="tType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, t_physical_quantity, t_name, t_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from physical_quantity_type
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="getAllPhysicalQuantityTypes" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from physical_quantity_type
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from physical_quantity_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cup.wang.airport.model.unit.PhysicalQuantityType">
    insert into physical_quantity_type (id, t_physical_quantity, t_name, 
      t_type)
    values (#{id,jdbcType=INTEGER}, #{tPhysicalQuantity,jdbcType=VARCHAR}, #{tName,jdbcType=VARCHAR}, 
      #{tType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cup.wang.airport.model.unit.PhysicalQuantityType">
    insert into physical_quantity_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tPhysicalQuantity != null">
        t_physical_quantity,
      </if>
      <if test="tName != null">
        t_name,
      </if>
      <if test="tType != null">
        t_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tPhysicalQuantity != null">
        #{tPhysicalQuantity,jdbcType=VARCHAR},
      </if>
      <if test="tName != null">
        #{tName,jdbcType=VARCHAR},
      </if>
      <if test="tType != null">
        #{tType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cup.wang.airport.model.unit.PhysicalQuantityType">
    update physical_quantity_type
    <set>
      <if test="tPhysicalQuantity != null">
        t_physical_quantity = #{tPhysicalQuantity,jdbcType=VARCHAR},
      </if>
      <if test="tName != null">
        t_name = #{tName,jdbcType=VARCHAR},
      </if>
      <if test="tType != null">
        t_type = #{tType,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cup.wang.airport.model.unit.PhysicalQuantityType">
    update physical_quantity_type
    set t_physical_quantity = #{tPhysicalQuantity,jdbcType=VARCHAR},
      t_name = #{tName,jdbcType=VARCHAR},
      t_type = #{tType,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>