<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cup.wang.airport.mapper.ProjectUnitMapper">
  <resultMap id="BaseResultMap" type="com.cup.wang.airport.model.ProjectUnit">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="density_unit_id" jdbcType="INTEGER" property="densityUnitId" />
    <result column="viscosity_kinematic_unit_id" jdbcType="INTEGER" property="viscosityKinematicUnitId" />
    <result column="viscosity_dynamic_unit_id" jdbcType="INTEGER" property="viscosityDynamicUnitId" />
    <result column="length_unit_id" jdbcType="INTEGER" property="lengthUnitId" />
    <result column="diameter_unit_id" jdbcType="INTEGER" property="diameterUnitId" />
    <result column="wall_thickness_unit_id" jdbcType="INTEGER" property="wallThicknessUnitId" />
    <result column="roughness_unit_id" jdbcType="INTEGER" property="roughnessUnitId" />
      <association property="densityUnit" javaType="com.cup.wang.airport.model.DensityUnit">
          <id property="id" column="did"/>
          <result property="unit" column="dunit"/>
      </association>
      <association property="viscosityKinematicUnit" javaType="com.cup.wang.airport.model.ViscosityKinematicUnit">
          <id property="id" column="vkuid"/>
          <result property="unit" column="vkuunit"/>
      </association>
      <association property="viscosityDynamicUnit" javaType="com.cup.wang.airport.model.ViscosityDynamicUnit">
          <id property="id" column="vduid"/>
          <result property="unit" column="vduunit"/>
      </association>
  </resultMap>
  <sql id="Base_Column_List">
    id, project_id, density_unit_id, viscosity_kinematic_unit_id, viscosity_dynamic_unit_id, 
    length_unit_id, diameter_unit_id, wall_thickness_unit_id, roughness_unit_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select pu.*,
    du.id as did , du.unit as dunit,
    vku.id as vkuid , vku.unit as vkuunit,
    vdu.id as vduid , vdu.unit as vduunit
    from project_unit pu , density_unit du , viscosity_kinematic_unit vku , viscosity_dynamic_unit vdu
    where pu.project_id = #{id,jdbcType=INTEGER}
    and pu.density_unit_id = du.id
    and pu.viscosity_kinematic_unit_id = vku.id
    and pu.viscosity_dynamic_unit_id = vdu.id
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from project_unit
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cup.wang.airport.model.ProjectUnit">
    insert into project_unit (id, project_id, density_unit_id, 
      viscosity_kinematic_unit_id, viscosity_dynamic_unit_id, 
      length_unit_id, diameter_unit_id, wall_thickness_unit_id, 
      roughness_unit_id)
    values (#{id,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, #{densityUnitId,jdbcType=INTEGER}, 
      #{viscosityKinematicUnitId,jdbcType=INTEGER}, #{viscosityDynamicUnitId,jdbcType=INTEGER}, 
      #{lengthUnitId,jdbcType=INTEGER}, #{diameterUnitId,jdbcType=INTEGER}, #{wallThicknessUnitId,jdbcType=INTEGER}, 
      #{roughnessUnitId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cup.wang.airport.model.ProjectUnit">
    insert into project_unit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="densityUnitId != null">
        density_unit_id,
      </if>
      <if test="viscosityKinematicUnitId != null">
        viscosity_kinematic_unit_id,
      </if>
      <if test="viscosityDynamicUnitId != null">
        viscosity_dynamic_unit_id,
      </if>
      <if test="lengthUnitId != null">
        length_unit_id,
      </if>
      <if test="diameterUnitId != null">
        diameter_unit_id,
      </if>
      <if test="wallThicknessUnitId != null">
        wall_thickness_unit_id,
      </if>
      <if test="roughnessUnitId != null">
        roughness_unit_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="densityUnitId != null">
        #{densityUnitId,jdbcType=INTEGER},
      </if>
      <if test="viscosityKinematicUnitId != null">
        #{viscosityKinematicUnitId,jdbcType=INTEGER},
      </if>
      <if test="viscosityDynamicUnitId != null">
        #{viscosityDynamicUnitId,jdbcType=INTEGER},
      </if>
      <if test="lengthUnitId != null">
        #{lengthUnitId,jdbcType=INTEGER},
      </if>
      <if test="diameterUnitId != null">
        #{diameterUnitId,jdbcType=INTEGER},
      </if>
      <if test="wallThicknessUnitId != null">
        #{wallThicknessUnitId,jdbcType=INTEGER},
      </if>
      <if test="roughnessUnitId != null">
        #{roughnessUnitId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cup.wang.airport.model.ProjectUnit">
    update project_unit
    <set>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="densityUnitId != null">
        density_unit_id = #{densityUnitId,jdbcType=INTEGER},
      </if>
      <if test="viscosityKinematicUnitId != null">
        viscosity_kinematic_unit_id = #{viscosityKinematicUnitId,jdbcType=INTEGER},
      </if>
      <if test="viscosityDynamicUnitId != null">
        viscosity_dynamic_unit_id = #{viscosityDynamicUnitId,jdbcType=INTEGER},
      </if>
      <if test="lengthUnitId != null">
        length_unit_id = #{lengthUnitId,jdbcType=INTEGER},
      </if>
      <if test="diameterUnitId != null">
        diameter_unit_id = #{diameterUnitId,jdbcType=INTEGER},
      </if>
      <if test="wallThicknessUnitId != null">
        wall_thickness_unit_id = #{wallThicknessUnitId,jdbcType=INTEGER},
      </if>
      <if test="roughnessUnitId != null">
        roughness_unit_id = #{roughnessUnitId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cup.wang.airport.model.ProjectUnit">
    update project_unit
    set project_id = #{projectId,jdbcType=INTEGER},
      density_unit_id = #{densityUnitId,jdbcType=INTEGER},
      viscosity_kinematic_unit_id = #{viscosityKinematicUnitId,jdbcType=INTEGER},
      viscosity_dynamic_unit_id = #{viscosityDynamicUnitId,jdbcType=INTEGER},
      length_unit_id = #{lengthUnitId,jdbcType=INTEGER},
      diameter_unit_id = #{diameterUnitId,jdbcType=INTEGER},
      wall_thickness_unit_id = #{wallThicknessUnitId,jdbcType=INTEGER},
      roughness_unit_id = #{roughnessUnitId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>